<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
   <filter>
      <filter-name>EncodeFilter</filter-name>
	  <filter-class>com.qhit.util.EncodeFilter</filter-class>
	  <init-param>
	  	<param-name>encode</param-name>
	  	<param-value>UTF-8</param-value>
	  </init-param>	  
  </filter>
  <filter-mapping>
  	  <filter-name>EncodeFilter</filter-name> 
  	  <url-pattern>/*</url-pattern>  	   	  
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.qhit.action.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ghj</servlet-name>
    <servlet-class>com.qhit.action.ghj</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.qhit.action.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.qhit.action.OrderServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ghj</servlet-name>
    <url-pattern>/servlet/ghj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>


  <display-name>Gong</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
</web-app>