<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EasyBuy1</display-name>
  <servlet>
  <servlet-name>Cart</servlet-name>
  <servlet-class>cn.easybuy.web.CartServle</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>Favorite</servlet-name>
  <servlet-class>cn.easybuy.web.FavoriteServle</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>Index</servlet-name>
  <servlet-class>cn.easybuy.web.IndexServle</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>cn.easybuy.web.LoginServlet</servlet-class>
  </servlet>
   
   <servlet>
  <servlet-name>News</servlet-name>
  <servlet-class>cn.easybuy.web.NewsServlet</servlet-class>
  </servlet>
   <servlet>
  <servlet-name>ProductCategory</servlet-name>
  <servlet-class>cn.easybuy.web.ProductCategoryServlet</servlet-class>
  </servlet>
   <servlet>
  <servlet-name>Product</servlet-name>
  <servlet-class>cn.easybuy.web.ProductServlet</servlet-class>
  </servlet>
   <servlet>
  <servlet-name>Register</servlet-name>
  <servlet-class>cn.easybuy.web.RegisterServlet</servlet-class>
  </servlet>
   <servlet>
  <servlet-name>UserAdress</servlet-name>
  <servlet-class>cn.easybuy.web.UserAdressServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
   <servlet-name>Cart</servlet-name>
  <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
   <servlet-name>Favorite</servlet-name>
  <url-pattern>/Favorite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>Index</servlet-name>
  <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>News</servlet-name>
  <url-pattern>/News</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>ProductCategory</servlet-name>
  <url-pattern>/ProductCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>Product</servlet-name>
  <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>Register</servlet-name>
  <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>UserAdress</servlet-name>
  <url-pattern>/UserAdress</url-pattern>
  </servlet-mapping>
</web-app>